* {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    margin: 4vh;
}


h2 {
    font-size: 2.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    color: rgb(13, 36, 68);
    text-decoration: underline;
    margin-top: 5px;
    margin-left: 5px;
}

.métiers p {
    font-size: 1.5em;
}

.intro {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 5vh;
}
.intro > div {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 70%;
    flex-grow: 1;
}

.intro > div> p {
    font-size: 2em;
    margin-top: 6vh;
    margin-left: 2vw;
    flex-basis: 100%;
    font-style: justify;
}

.intro > img{
    flex-grow: 0;
    flex-basis: 30%;
    width: 10vw;
    height: 40vh;
    margin-left: 10vw;
    margin-top: 30px;
}

.métiers h3 {
    color: purple;
    font-size: 2em;
    text-decoration: underline;
    margin-top: 5vh;
    margin-bottom: 3vh;
    margin-left: 2vw;
}


.métiers {
    display: flex;
    flex-wrap: wrap;
}

.métiers section {
    margin-left: 3vw;
    margin-right: 3vw;
}

.métiers div {
    flex-basis: 40%;
    padding-bottom: 3vw;
    padding-left: 2vw;
    padding-right: 1vw;
    padding-top: 3vw;
    margin: 1vw;
    border: 0.4vw solid rgb(83, 83, 83);
    background-color: rgb(185, 185, 185);
    border-radius: 3em;
}


.Analyste, .Consultant {
    flex-wrap: nowrap;
}


.métiers p {
    padding: 2vw;
}