/* *{
    margin: 0px;
    padding: 10px;
}

body {
    display: flex;
    flex-wrap: wrap;
}

header {
    display: flex;
    
}
header > section{
    flex-grow: 0;
    flex-basis: 100%;
    display: flex;
    flex-wrap: nowrap;
}

header > section > h1{
    flex-basis: 80%;
}

header > section > img{
    width: 2em;
    height: 2em;
    flex-basis: 20%;
}
nav > li{
    flex-wrap: wrap;
}
header h1{
    color:purple;
    font-size: 6em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: initial;
    flex-wrap: nowrap;
}
nav{
    background-color: purple;
    flex-wrap: wrap;
    flex-basis: 90%;
}
nav > ul{
    list-style-type: none;
    text-align: center;
    width: 100%;
    height: 5vw;
    padding-left: 0vw;
    padding-top: 2.6vw;
}
li {
    display: inline;
    font-weight: bold;
    font-size: 2em;
    padding-right: 2vw;
    padding-left: 2vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
}
a{
    text-decoration: none;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}
li:hover{
    background-color: rgb(163, 163, 163);
} */

*{
    margin: 0px;
}

header >section > h1 {
    color:purple;
    font-size: 6em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: initial;
    flex-basis:85%;
    margin-bottom: 1vh;
}
header > section {
    display: flex;
    flex-grow: 1;
    margin: 1em;
}
header section img {
    width: 15vw;
    height: 24vh;
    flex-basis: 15%;
    flex-grow: 1;
}

/* =================================================== */

nav > ul{
    list-style-type: none;
    text-align: center;
    width: 100%;
    height: 5vw;
    padding-left: 0vw;
    padding-top: 2.6vw;
}
li {
    display: inline;
    font-weight: bold;
    font-size: 2em;
    padding-right: 2vw;
    padding-left: 2vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
}
a{
    text-decoration: none;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}
li:hover{
    background-color: rgb(163, 163, 163);
}
nav{
    background-color: purple;
    flex-wrap: wrap;
    flex-basis: 90%;
}